* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
/*font-family: 'Oswald', sans-serif;*/
body {
	font-family: "Oswald", sans-serif;
	background-color: #fff;
}
.wrapper {
	overflow: hidden;
	height: 100%;
}
.container {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

/*header*/

.header-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 0px;
}
.header__content {
	display: flex;
	align-items: center;
}
.logo__img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-right: 50px;
}
.header__title {
	font-size: 50px;
	line-height: 58px;
	color: #01cea1;
	font-weight: 500;
	text-shadow: 4px 4px 2px #7d7e81;
}
.header__phone-number {
	display: inline-block;
	font-size: 25px;
	line-height: 45px;
	font-weight: 600;
	color: #fff;
	background-color: #01cea1;
	border: 4px solid #fff;
	border-radius: 30px;
	padding: 6px 9px;
	margin-left: 50px;
	transition: all 1s;
}
.header__phone-number:hover {
	color: #fff;
	background-color: #d90365;
	border: 4px solid #fff;
	transition: all 0.8s;
}
/*slider*/
.slider {
	display: flex;
	background-color: rgb(247, 244, 244, 0.5);
	border-top: 2px solid#01CEA1;
}
.slider__img {
	display: inline-block;
	max-width: 350px;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
	object-fit: cover;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider__items {
	padding: 70px 0px;
}
.slider__content {
	padding: 50px 10px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.slider__title {
	width: 400px;
	font-size: 60px;
	line-height: 68px;
	color: #d90365;
	font-weight: 700;
	padding-bottom: 30px;
	text-align: center;
}
.slider__subtitle {
	font-size: 25px;
	line-height: 40px;
	color: #01cea1;
	width: 300px;
	font-weight: 500;
	text-align: center;
}

.slider__items {
	width: 60%;
}
/*
.slider__items .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
	margin: -90px 0px 0px 0px;
}
.slider .slick-arrow.slick-prev{
	left: 10px;
	background-image: url('../img/left_icon-icons.com_61213.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center ;
	background-color:transparent ;
}
.slider .slick-arrow.slick-next{
	right: 10px;
	background-image: url("../img/right_icon-icons.com_61212.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center ;
	background-color:transparent ;
}*/
.slider__items .slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	line-height: 20px;
}
.slider .slick-dots li {
	margin: 0px 10px;
}
.slider__items .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #01cea1;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
	background-color: #d90365;
	width: 14px;
	height: 14px;
}
.slider__item {
	text-align: center;
}
.slider__text {
	padding: 30px 0px;
	font-size: 25px;
	line-height: 30px;
	color: #026e57;
}
/*product*/
.product {
	background-color: #4d9183;
}
.product-nav__list {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.product-nav__item {
	min-width: 100px;
	background-color: #026e57;
	text-align: center;
	padding: 8px 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 1s;
	font-size: 25px;
	line-height: 30px;
	color: #fff;
	font-weight: 500;
}
.active {
	background-color: #d90365;
}

.product-nav__item + .product-nav__item {
	margin-left: 100px;
}

.product__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	padding: 50px 0px 100px 0px;
	margin: 0px -15px;
}
.product__column {
	display: flex;
	flex: 0 1 25%;
	padding: 0 15px;
}
.product__item {
	display: flex;
	flex-direction: column;
	flex: 0 1 100%;
	text-align: center;
	color: #01cea1;
	background-color: #faf9f9;
	border-radius: 10%;
	margin-bottom: 30px;
	box-shadow: 1px 3px 1px #7d7e81;
}
.product__content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding-bottom: 15px;
}

.product__img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	transition: 0.7s;
}

.product__img:hover {
	border-radius: 0px;
	transform: scale(1.2);
	transition: 0.7s;
}

.product__title {
	font-size: 25px;
	line-height: 36px;
	font-weight: 500;
	padding: 0px 5px;
}
.product__description {
	flex: 1 1 auto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	padding: 0px 5px;
}
.product__price {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	color: #d90365;
	padding-bottom: 10px;
}
.product__link {
	display: inline-block;
	color: #fff;
	background-color: #d90365;
	margin: 0 auto;
	padding: 10px 35px;
	border-radius: 10px;
	transition: all 1s;
}
.product__link:hover {
	background-color: #01cea1;
	color: #fff;
	box-shadow: 2px 2px 2px 2px #098d70;
	border-radius: 2px;
	transition: all 0.7s;
}
/*popup*/

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: none;
}

.popup {
	position: absolute;
	background: #ffffff;
	width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	padding-top: 60px;
}

.form-popup {
	display: flex;
	flex-direction: column;
}
.form-popup__text {
	text-align: center;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #1f020f;
}

.form-popup__input {
	margin-bottom: 30px;
	padding: 0px 10px;
	height: 50px;
	font-size: 20px;
	border: 2px solid #01cea1;
	border-radius: 10px;
}
.form-popup__input:focus {
	box-shadow: 2px 2px 2px 2px #01cea1;
}
.form-popup__btn {
	background: #01cea1;
	color: #ffffff;
	font-size: 24px;
	padding: 10px 0px;
	border-radius: 20px;
}

.close-popup {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	width: 35px;
	height: 35px;
}

.no-scroll {
	overflow-y: hidden;
}
/*footer*/
.footer {
	background-color: #35363a;
}
.footer__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 20px 0px 0px 0px;
	color: #fff;
}
.footer__item {
	color: #fff;
}
.footer__title {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 10px;
}
.footer__text {
	font-size: 14px;
	margin-bottom: 10px;
	text-align: left;
	position: relative;
	padding-left: 20px;
}
.footer__text::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #01cea1;
	top: 2px;
	left: 0px;
}

.footer__social-link {
	padding-left: 10px;
}
.icon-instagram,
.icon-tiktok,
.footer__phone-number {
	color: #fff;
	font-size: 30px;
}
.icon-instagram:hover {
	color: #d90365;
	transition: all 0.7s;
}
.icon-tiktok:hover {
	color: #d90365;
	transition: all 0.7s;
}
.footer__phone-number:hover {
	color: #d90365;
	transition: all 0.7s;
}

.copyright {
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	padding: 5px 0px 20px 0px;
}
.copyright span {
	color: #01cea1;
}
/*media*/
@media (max-width: 1260px) {
	.slider__img {
		max-width: 300px;
	}

	.product__column {
		flex: 0 1 33.3333%;
	}
}
@media (max-width: 1050px) {
	
	.slider__img {
		max-width: 250px;
	}
	.product__img:hover {
		transform: scale(1.1);
	}
}
@media (max-width: 950px){
	.slider__img {
		max-width: 400px;
	}
}
@media (max-width: 850px){
	.slider{
		flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.slider__content{
		width: 100%;
		padding: 15px 10px 40px 10px ;
	}
	.slider__items{
		width: 100%;
		padding: 0px 0px 70px 0px;
	}
	.slider__img {
		max-width: 300px;
	}

}
@media (max-width: 720px) {
	
	.product__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 680px) {
	.header-wrapper{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	.logo__img{
		width: 150px;

	}
	.header__phone-number{
		margin-left: 0;
	}
	.slider__img {
		max-width: 400px;
	}
	.product__items{
		padding: 50px 0px 50px 0px;
	}
}
@media(max-width:630px ) {
	.product-nav__item + .product-nav__item{
		margin-left: 50px;
	}
}
@media (max-width: 530px) {
	.header__link {
		margin-bottom: 10px;
	}
	.product-nav__item + .product-nav__item{
		margin-left: 30px;
	}
	.product__items{
		padding: 10px 0px 50px 0px;
	}

	
}
@media (max-width: 530px){
	.product-nav__list{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
	}
	.product-nav__item + .product-nav__item{
		margin-left: 0px;
	}
	.product-nav__item{
		margin-bottom: 10px;
	}
}

@media (max-width: 444px) {
	.slider__img {
		max-width: 330px;
	}
	.product__column {
		flex: 0 1 100%;
	}
	.footer__items{
		flex-direction: column;
		margin-bottom: 20px;
	}
	.footer__title{
		text-align: left;
	}
}
@media (max-width: 380px) {
	.slider__img {
		max-width: 280px;
	}
	.header__content{
		flex-direction: column;
		padding-top: 10px;
	}
	.header__title{
		display: none;
		padding-bottom: 10px;
	}
	
	.header__phone-number {
		margin-left: 0;
	}
	.logo__img {
		margin-right: 0px;
		width: 180px;

	}
	.product__items {
		padding-top: 10px;
	}
}
@media (max-width: 330px) {
	
}
